
.icon-mailmail:before { content: '\e800'; } /* '' */
.icon-mailfacebook:before { content: '\f09a'; } /* '' */
.icon-mailmail-alt:before { content: '\f0e0'; } /* '' */
.icon-mailfacebook-squared:before { content: '\f308'; } /* '' */