$color-dark: #002527;
$color-blue: #019A9A;
$color-blue-dark: #1e6569;

$color-white: #f8fde5;

$color-red: #CC0526;
$color-orange: #F6A819;


$grid-width: 114rem;
$gutter-horizontal: 4rem;
$gutter-vertical: 8rem;
