.info {
	margin-left: auto;
	margin-right: auto;
	padding-top: 15px;
	padding-bottom: 15px;
	text-align: center;
	color: $color-white;
    background: $color-blue; 

    & a {
        color: $color-white;
        text-decoration: underline;
        
        
        &:hover {
            color: $color-orange;
            text-decoration: underline;
            font-size: 25px; }}
}
  