


.player {
    vertical-align: middle;
    border: 0.5px dotted none;
    border-radius: 20px;
    background-color: #019A9A; }
    .player__name {
      display: inline-block;
      width: 49%; }
    .player__image {
      display: inline-block;
      width: 49%; }
      .player__image img {
        width: 110px; }